
.home{
 background-image: url("enspire.jpg");
 background-color: #02252eaa;
 background-size: cover;
 height:900px ;
 text-align: center;
 
}
.headens{
  transform: translate(0,250px);
  color: rgb(125, 242, 253);
  text-shadow: 0 0 20px #ffffff ;
  font-size: 100px;
}
.esummit{
  transform: translate(0,-15px);
  color: white;
  text-shadow: 0 0 20px aliceblue;
  font-size: 40px;
}

.more{
  background-color: whitesmoke ;
  font-size: 15px;
  transform: translate(0,150px);
  padding: 0.5%;
  cursor: pointer;
}
